body {
    overflow-x: hidden;
    font-size: 16px;
    font-family: "Barlow", sans-serif;
    line-height: 1.8rem;
    color: #162542;
}
h1, h2, h3 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-primary {
    height: 2.5rem;
    background-color: #E8EFF2;
    color: #162542;
    border: none;
    border-radius: 5px;
}
.btn-primary:hover {
    background-color: #162542;
    color: white;
}
.container {
    overflow-x: hidden;
}
.row {
    overflow-x: hidden;
    margin-bottom: 40px;
}

/* Row 1 Container */
.row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    padding-top: 20px;
    margin-bottom: 20px;
}
.header-container {
    margin-bottom: 20px;
}
.row-1-img {
    padding-left: 10px;
    padding-right: 20px;
}
.logo {
    padding-left: 5px;
}

.header-img {
    position: relative;
    height: 300px;
    width: 110%;
    border-radius: 10px;
    z-index: 100;
}
.container-2-flex {
    display: flex;
    flex-direction: row;
    height: 3rem;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 15px;
}
.row-2-btn {
    background-color: #F16718;
    color: white;
}
.row-2-btn:hover {
    background-color: #FF9B62;
}
.img-container {
    position: relative;
    /*background-color:#F16718;*/
    right: 5%;
}
.container-3-img {
    border-radius: 15px;
}
.container-3-img-1 {
    position: relative; 
    width: 110%;
    height: 100%;
    right: 5%;
    filter: sepia(95%) saturate(400%) brightness(65%) hue-rotate(320deg);
}
.container-3-img-2 {
    width: 115%;
    height: 100%;
}
.container-3-header {
    margin-top: 50px;
}
.grid-item {
    margin: 20px 0;
}
.grid-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #F16718;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 10px;
}
.grid-img {
    height: 20px;
    width: 20px;  
}
.trademark {
    padding-top: 40px;
}

@media screen and (min-width: 572px) {
    .header-container {
        padding-left: inherit;
        margin-left: inherit;
    }
}

@media screen and (min-width: 768px) { 
    .header-container {
        padding-left: inherit;
        max-width: 600px;
    }
    .logo {
        padding-left: 0;
    }
    .row-2-content {
        height: 100%;
        padding: 30px 10px 10px 15px;
    }
    .container-3-flex {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        text-align: left;
        margin-top: 30px;
        padding-left: 0;
    }
    .img-container{
        right: 0%;
        left: 1%;
    }
    .container-3-img-2 {
        width: 100%;
    }
    .container-3-header {
        position: relative;
        right: 15px;
        margin-top: 0;
    }
    .grid-img-container {
        margin: 0;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 992px) {
    .row-2-content {
        max-width: 450px;
    }
    .background-img-1 {
        display: none;
    }
    .background-img-2 {
        display: none;
    }
}
@media screen and (min-width: 992px) {
    .container {
        padding-right: 25px;
    }
    .row-2-content {
        padding-left: 5px;
    }
    .container-2-flex {
        justify-content: unset;
    }
    .row-2-btn {
        margin-right: 40px;
    }
    .background-img-1 {
        display: block;
        position: absolute;
        left: 97%;
        width: 3%;
        overflow-x: hidden;
    }
    .img-container {
        left: 0%;
    }
    .background-img-2 {
        overflow-x: hidden;
        display: block;
        position: absolute;
        right: 97%;
        top: 40rem;
    }
    .header-container {
        width: 95%;
        padding-top: 1rem;
    }
    .header-img {
        position: relative;
        width: 85%;
        height: 23rem;
        left: 5.4rem;
    }
    .container-3-flex {
        flex-direction: column;
        width: 150%;
        align-items: flex-start;
        padding: 15px 0px 20px 20px;
    }
    .container-3-header {
        right: 0;
    }
    .container-3-img-1 {
        right: 0%;
        left: 0%;
        width: 100%;
    }
}